* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.cardContainer {
  width: 20em;
}
img{
  width: 15em;
}

#submit{
  width: 10em;
}

.loading{
  width: 80vw;
  z-index: 100;
  position: fixed;
  top: 40vh;
  left: 50vw;
  transform: translateX(-50%);
}
